@model Bethany.Data.Models.ViewModels.HomeViewModel

<partial name="_Carousel" />
<div class="text-center">
    <h2>Pies of the Week</h2>
    <h4>Our weekly selection - just for you!</h4>
</div>
<div class="row">
    @foreach(var pie in Model.PiesOfTheWeek)
    {
        <partial name="_pieView" model="pie" />
    }
</div>